body {
    font-size: 14px;
    
}

#top-bar{
	background: #000000 !important;
}

/*
*images style: zakbumlogo;
*/
#zakbum{
	position: relative;
	height: 44px;
	width: 80px;
	left: 3px;
	;
	
	}

/*
*images style: info;
*/

#infoicon{
	position: relative;
	height: 40px;
	width: 40px;
	right: 5px;
	border: 2px;
	top: 90%;
	background: #000000;
	}
 

#icon-help{
 
 }
	@media (max-width: 1124px){
		#icon-help{
   visibility: hidden;
      }
    }

	@media screen and (min-width: 1125px) {
      #icon-help{

    position: absolute;
	height: 40px;
	width: 40px;
	left: 3px;
	border: 2%;
	z-index: 444;
	bottom :5%;
      
          }
    }

/*
*images style: info;
*/
  #bottomsmart{
    position: absolute;
    top:60%;



  }

  #filter_form{
  	color:#4d4d4d;
  }
  #filtercom{

  	color: #222222;
  }



