body
{
    font-family:Arial,Helvetica,serif;
    font-size:8pt;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
}

input {
    
    padding:5px;
    border:1px solid #CCC;
    background: #FFF;
    width: 250px;
}


ul.autosuggest {
    display:block;
    margin:0;
    padding:0;
    list-style:0;
    border:1px solid #CCC;
    border-bottom:none;
    float:left;
    width: 250px;
    postition: absolute;
    z-index: 99;
}

ul.autosuggest li {
    display:block;
    padding:8px;
    border-bottom:1px solid #CCC;
    float:left;
}

ul.autosuggest li:hover {background:#F1F1F1;
}